%img{:source => 'http://amatorski.be/images/amatorski/photos/medium/2.jpg?1305282620'}
.feed
	%ul{:"data-role" => 'listview'}
		- @posts.each do |post|
			%li
				%img{:source => '/assets/profile.jpeg'}
				%h2= post.character.name
				%p= post.body


.update
	%h2 Update toevoegen
	= form_for @post do |f|
	
		.ui-grid-c
			.ui-block-a
				= f.label :character_id, 'Personage kiezen:'
				%br/
				= link_to 'Personages beheren', characters_path
			.ui-block-b		
				= f.select :character_id, @characters.map {|r| [r.name, r.id]}
		
		%br/
		= f.text_area :body
		%br/
		.ui-grid-c
			.ui-block-a
				= f.submit "Update", :class => 'ui-btn-blue'
